<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- CONEXIÓN BD -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/lol</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- OPCIONES EXTRA -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- REGISTRO DE TODAS LAS ENTIDADES -->
        <mapping class="com.pablo.hibernate.entity.Jugador"/>
        <mapping class="com.pablo.hibernate.entity.Tipo"/>
        <mapping class="com.pablo.hibernate.entity.Habilidad"/>
        <mapping class="com.pablo.hibernate.entity.Campeon"/>
        <mapping class="com.pablo.hibernate.entity.Partida"/>

    </session-factory>
</hibernate-configuration>
